/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    max-height: 100vh;
    overflow-x: scroll;
    /*scroll-snap-type: y mandatory;*/
}

/* Variables */
:root {
    --main-bg: #262626;
    --secondary-bg: #F8F4F1;
    --accent-bg: #F7C117;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Page titles */
h1, h2, h3, h4 {
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 4rem 1.5rem;
    scroll-snap-align: center;
}

.btn-secondary {
    background-color: #fff;
    color: #262626;
    padding: 0.5rem 1.313rem;
    border-radius: 60px;
    font-weight: 500;
}

/*--------------------------------------------------------------
# Darkmode Switch
--------------------------------------------------------------*/
.darkmode-switch {
    cursor: pointer;
    display: inline-block;
    position: fixed;
    right: 10px;
    top: 108px;
    z-index: 999;
}

/* Darkmode switch icon */
.darkmode-switch img {
    position: relative;
    width: 35px;
    height: auto;
    opacity: .45;
    top: 8px;
    left: 7px;
    transition: .3s;
}

.darkmode-switch img:hover {
    opacity: 1;
}

.darkmode-switch::before {
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 50px;
    background: rgba(247, 195, 23, 0.8);
    top: 0;
    right: -24px;
    transform: skew(10deg);
    border-radius: 8px;
    z-index: -1;
}

/*--------------------------------------------------------------
# Banner Section
--------------------------------------------------------------*/

.banner {
    position: relative;
    z-index: 998;
    background-color: var(--main-bg);
    transition: background-color .3s;
}

/* Banner content */
.banner-content {
    margin: 8rem 0 0 0;
    position: relative;
    display: flex;
    max-width: 21rem;
}

/* Banner title */
.banner h1 {
    color: #fff;
    font-weight: 300;
    margin-bottom: 1.5rem;
    line-height: 1;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.75fr 1.75fr 1.75fr;
    justify-items: start;
    font-size: clamp(2.5rem, 10vw, 5rem);
}

/* Banner title image */
.banner h1 img {
    /*width: 8rem;*/
    width: 20vw;
}

/* Banner grid columns */
.banner h1 :nth-child(1) {
    grid-column: 1 / 2;
}

.banner h1 :nth-child(2) {
    grid-column: 2 / 3;
    position: relative;
}

.banner h1 :nth-child(3) {
    grid-column: 3 / 5;
}

/* Line under word */
.banner h1 :nth-child(3):after {
    content: '';
    display: block;
    height: 2px;
    background-color: var(--accent-bg);
    width: 0;
    animation: lineWidth 1.5s forwards;
}

/* Animate the line from left to right */
@keyframes lineWidth {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.banner h1 :nth-child(4) {
    grid-column: 1 / 3;
}

.banner h1 :nth-child(5) {
    grid-column: 3 / 4;
    transform: scale(1.4);
    justify-self: flex-end;
}

.banner h1 :nth-child(6) {
    grid-column: 1 / 4;
    align-self: flex-start;
}

.banner h1 :nth-child(7) {
    /*transform: translateY(-2rem);*/
    /*width: 7.5rem;*/
    width: 16vw;
    /*margin-left: -2rem;*/
    margin-left: -1rem;
    transform: translateY(-1rem);
}

.banner h1 > * {
    margin-right: 1rem;
}

/* Banner Link */
.banner a {
    font-weight: 500;
    margin-top: 1rem;
    color: #fff;
    position: relative;
}

.banner a::after {
    content: '';
    width: 0;
    display: block;
    height: 2px;
    margin-top: 2px;
    background-color: var(--accent-bg);
    position: absolute;
    transition: all .3s;
}

.banner a:hover::after {
    width: 100%;
}

/* Banner darkmode styles */
.banner.dark {
    background-color: var(--main-bg);
}

.banner h1.dark, a.dark {
    color: #fff;
}

/*--------------------------------------------------------------
# About Us Section
--------------------------------------------------------------*/

.about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary-bg);
    position: relative;
    padding-top: 5.5rem;
}

/* About Us Text Wrapper */
.about-us-text-wrapper {
    position: relative;
    z-index: 2;
    padding: 2rem 0;
    top: 2.5rem;
}

/* Mask shape */
.about-us-text-wrapper:before {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--accent-bg);
    top: 0;
    left: -200px;
    transform: skewX(-10deg);
    border-radius: 8px;
    width: 100%;
    height: 60%;
    z-index: -1;
    margin-left: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* About Us Text Wrapper Logo */
.about-us-text-wrapper svg {
    position: relative;
    top: .5rem;
    left: .25rem;
    fill: #fff;
}

/* About Us Section Title */
.about-us h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    color: #262626;
}

.about-us h2:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 25px;
    background-color: #fff;
    margin-right: .5rem;
    position: relative;
    top: 3px;
}

/* About Us Section Subtitle */
.about-us h3 {
    font-weight: 400;
    margin-top: .5rem;
    margin-left: .6rem;
}

/* About Us Section Paragraph */
.about-us p {
    margin-top: .5rem;
    margin-left: .6rem;
    width: 60%;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

/* About Us Btn Wrapper */
.about-us-btn-wrapper {
    margin-left: .6rem;
    margin-top: 1.5rem;
}

.about-us-btn-wrapper a {
    background-color: var(--main-bg);
    padding: 8px 21px;
    font-size: .9rem;
    border-radius: 3.75rem;
    margin-right: .25rem;
    transition: all 300ms;
    display: inline-block;
}

.about-us-btn-wrapper a:hover {
    transform: translateY(-6px);
}

/* Dot behind image */
.about-us span {
    background-color: var(--main-bg);
    position: absolute;
    border-radius: 40px;
    width: 90px;
    height: 75px;
    right: 25px;
    z-index: 1;
    top: -25px;
}

/* About Us Team Image */
.about-us img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

/*--------------------------------------------------------------
# Customers
--------------------------------------------------------------*/

.customers {
    background-color: var(--main-bg);
}

/* Customers Section Title */
.customers h3 {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
}

.customers h3:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 25px;
    background-color: #e6b515;
    margin-right: .5rem;
    position: relative;
    top: 3px;
}

/* Customers Paragraph */
.customers p {
    margin-top: 0.5rem;
    margin-left: 0.6rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 1rem;
}

/* Customers Cards Wrapper */
.customers-cards-wrapper {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
}

/* Customer Card */
.customer-card {
    margin-top: 1.25rem;
    background: var(--secondary-bg);
    padding: .25rem .25rem;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 1rem;
}

/* Customer Card Image */
.customer-card img {
    margin-top: 1rem;
}

.customer-card img:nth-child(1) {
    width: 40%;
}

.customer-card img:nth-child(2) {
    width: 60%;
}

.customer-card img:nth-child(3) {
    width: 70%;
}

/* Customer Card Paragraph */
.customer-card p {
    color: #262626;
}

/* Customer Card Button */
.customer-card a {
    background-color: var(--accent-bg);
    border-radius: 3.75rem;
    padding: 4px 15px;
}

/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/

/* Team Text Wrapper */
.team-text-wrapper {
    width: 40%;
    word-break: break-all;
}

/* Team Text Wrapper Title */
.team-text-wrapper h3 {
    font-size: 1.55rem;
    font-weight: 500;
    margin-bottom: .3rem;
}

.team-text-wrapper h3:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 25px;
    background-color: #e6b515;
    margin-right: .5rem;
    position: relative;
    top: 3px;
}

.team-text-wrapper p {
    margin-left: .75rem;
}

/* Team Person Wrapper */
.team-person-wrapper {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.team-person {
    padding: 1rem 1rem;
    background-color: var(--secondary-bg);
    border-radius: 5px;
    text-align: center;
}

.team-person img {
    width: 50%;
    transition: all 300ms;
    margin-bottom: 1rem;
}

.team-person h4 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.team-person h4:before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: #e6b515;
    margin-right: .5rem;
    position: relative;
    top: 3px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services {
    position: relative;
    margin-top: 1rem;
    background-color: var(--secondary-bg);
}

.services h3 {
    font-size: 1.55rem;
    font-weight: 500;
    margin-bottom: .3rem;
}

.services h3:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 25px;
    background-color: #e6b515;
    margin-right: .5rem;
    position: relative;
    top: 3px;
}

/*--------------------------------------------------------------
# Media Query's
--------------------------------------------------------------*/

@media (min-width: 30rem) {

    /* General Section */
    section {
        padding: 3rem 4rem;
    }

    .banner h1 :nth-child(7) {
        transform: translateY(-2rem);
        margin-left: -2rem;
    }
}

@media (min-width: 40rem) {
    .customers-cards-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
}

@media (min-width: 62.5rem) {
    .customers-cards-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .customer-card:nth-child(2) {
        margin-top: 5rem;
    }
}

@media (min-width: 75rem) {

    /* Banner Content */
    .banner-content {
        margin: 8rem 0 0 9rem;
    }

    /* Banner Image */
    .banner h1 img {
        width: 8rem;
    }

    .banner h1 :nth-child(2) {
        width: 11rem;
    }

    .banner h1 :nth-child(5) {
        transform: scale(1.4);
    }

    .banner h1 :nth-child(7) {
        width: 7.5rem;
        margin-left: -2rem;
        transform: translateY(-2rem);
    }
}